{% extends 'base.html' %}

{% load i18n %}

{% block header %}{% translate 'Dish Details' %}{% endblock %}

{% block content %}
  <p>{% translate 'Dish name' %}: {{ dish }}</p>
  <p>{% translate 'Ingredients' %}:</p>
  <ul>
    {% for ingredient in dish.dish_ingredient.all %}
      <li>{{ ingredient.ingredient }} - {{ ingredient.amount }}</li>
    {% endfor %}
  </ul>
  <p class="text-muted">{% translate 'Created at' %}: {{ dish.created_at }}</p>
  <div class="col-12">
    <a class="btn btn-primary" href="{% url 'dishes:create_order' %}?id={{dish.id}}">{% translate 'Make Order' %}</a>
    <a href="{% url 'dishes:index' %}" class="btn btn-primary">{% translate 'Go Back' %}</a>
  </div>
{% endblock %}
