{% extends 'base.html' %}
{% load static %}
{% block header %}Create Dish{% endblock %}

{% block content %}
    <form id="form-container" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <hr>
        <div class="di-formset p-3 mb-4 border">
            {{ di_formset }}
        </div>
        <button id="add-ingredient" class="btn btn-primary mt-1">+ Add ingredient</button>
        <hr>
        <div class="d-grid gap-2">
            <button class="btn btn-primary mt-2">Create Dish</button>
        </div>
    </form>
    <script src="{% static 'dishes/js/index.js' %}"></script>
{% endblock %}