{% extends 'base.html' %}
{% load i18n %}
{% block header %}{% translate 'Ingredients List' %}{% endblock %}

{% block content %}
<div class="row mb-1">
    <div class="col">
        <a href="{% url 'dishes:create_ingredient' %}" class="btn btn-primary">{% translate 'Create Ingredient' %}</a>
    </div>
</div>
<hr>
{% for ingredient in ingredients %}
<p>{% translate 'Ingredient name' %}: {{ ingredient }}</p>
<hr>
{% endfor %}
<a href="{% url 'dishes:index' %}" class="btn btn-primary">{% translate 'Go Back' %}</a>
{% endblock %}
