{% extends 'base.html' %}
{% load i18n %}
{% block header %}{% translate 'Create Ingredients Order' %}{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <hr>
        <div class="di-formset">
            {{ oi_formset.management_form }}
            {% for oi in oi_formset %}
                {{ oi }}
            {% endfor %}
        </div>
        <div class="d-grid gap-2">
            <button class="btn btn-primary btn-lg btn-block">{% translate 'Create Order' %}</button>
        </div>
    </form>
{% endblock %}
