{% extends 'dishes/base.html' %}

{% block header %}Order Details{% endblock %}

{% block content %}
  <p><u>Order id: <span class="fw-bold">{{ order.id }}</span></u></p>
  <p>Ingredients:</p>
  <ul>
    {% for ingredient in order.oi.all %}
      <li>{{ ingredient.ingredient }} - {{ ingredient.amount }}</li>
    {% endfor %}
  </ul>
  <p class="text-muted">Created at: {{ order.created_at }}</p>
  <div class="col-12">
    <a href="{% url 'dishes:orders' %}" class="btn btn-primary">Go Back</a>
  </div>
{% endblock %}